$font-light: 300;
$font-bold: 700;

// Font Sizes
$text-xl: 3rem;
$text-lg: 2.6rem;
$text-sm: 1.2rem;

// Spacing
$space-sc: 1.25rem;
$space-dy: 1.25em;

// Colors
$primary-color: hsl(28deg 65% 80%);
$secondary-color: hsl(202deg 51% 59%);
$black: rgb(28, 28, 28);
$white: rgb(235, 235, 235);

// Spacing
$space-section: 60px 0;
