h1,
.h1 {
  font-size: $text-xl;
}
h2,
.h2 {
  font-size: $text-lg;
}
::placeholder {
  color: $white;
  opacity: 0;
}
.form {
  background-color: $secondary-color;
  padding: 25px 40px;

  &__title,
  &__description {
    text-align: center;
  }
  &__description {
    margin: 20px auto;
    max-width: 80%;
  }
  &__group {
    display: flex;
    flex-direction: row;
    gap: 20px;
    .input__wrapper {
      display: inline-flex;
      flex-direction: column;
    }
  }
  &__field {
    display: block;
    position: relative;
    max-width: 100%;
    width: 400px;
    padding: 10px 20px;
    margin: 20px 0;
    outline: none;
    border: 1px solid $primary-color;
    border-radius: 5px;
    background-color: transparent;
    color: $white;
  }
  &__submit {
    border: none;
    background-color: $primary-color;
    padding: 20px 40px;
    margin: 15px 0;
    font-size: 1.2rem;
    border-radius: 10px;
    &:hover {
      background-color: darken($color: $primary-color, $amount: 5);
    }
  }
}
.input {
  &__wrapper {
    position: relative;
  }
  &__label {
    background-color: $secondary-color;
    position: absolute;
    top: -12px;
    left: 5px;
    display: block;
    z-index: 2;
    padding: 0 5px;
  }
  &__select {
    option {
      color: $black;
    }
  }
}
